[submodule "19AI308-Object-Oriented-Programming-using-CSharp--Exp-8-Name-Hiding-with-interface-inheritance"]
	path = 19AI308-Object-Oriented-Programming-using-CSharp--Exp-8-Name-Hiding-with-interface-inheritance
	url = https://github.com/Ronick2005/19AI308-Object-Oriented-Programming-using-CSharp--Exp-8-Name-Hiding-with-interface-inheritance.git
[submodule "19AI308-Object-Oriented-Programming-using-CSharp-Exp-10-File-Manipulation"]
	path = 19AI308-Object-Oriented-Programming-using-CSharp-Exp-10-File-Manipulation
	url = https://github.com/Ronick2005/19AI308-Object-Oriented-Programming-using-CSharp-Exp-10-File-Manipulation.git
